// Imports
@import './src/assets/scss/helpers/mixins';
@import './src/assets/scss/helpers/variables';



// Clear
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

section {
    padding: 120px 0;
}

// Commone Classes 

.flex-between {
    @include flex-spaceBetween;
}

.text-light {
    color: $whiteText !important;
}

.bg-orange {
    background-color: $orangeColor;
}

.section-heading {
    margin-bottom: 100px;
}

.special-border {
    border-radius: 155px 45px 225px 75px/15px 125px 15px 155px;
}