<!-- First Style For Navbar -->
<nav class="navbar navbar-expand-lg text-light bg-orange" *ngIf="0">
  <div class="container flex-between">
    <a class="navbar-brand" href="#">
      <!-- <img src="../../../../assets/images/Untitled-1.png" width="35px" alt=""> -->
      MEAW
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
          <ul class="dropdown-menu drop-menu menu-2" aria-labelledby="navbarDropdown1">
            <li class="drop-item"><a class="item--1" href="#">Prices</a></li>
            <li class="drop-item"><a class="item--2" href="#">Testimonial</a></li>
            <li class="drop-item"><a class="item--3" href="#">Our Stats</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Pages</a>
          <ul class="dropdown-menu drop-menu menu-3" aria-labelledby="navbarDropdown1">
            <li class="drop-item"><a class="item--1" href="#">Prices</a></li>
            <li class="drop-item"><a class="item--2" href="#">Testimonial</a></li>
            <li class="drop-item"><a class="item--3" href="#">Our Stats</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Second Style For Navbar -->


  <nav class="navbar-expand-lg navbar-tall text-light bg-orange" *ngIf="1">
    <div class="container">
      <div class="main-nav">
        <div class="logo">
          <!-- <a class="navbar-brand" href="#">MEAO</a> -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 388.8 316.8" width="50px" style="enable-background:new 0 0 388.8 316.8;" xml:space="preserve">
       <style type="text/css">
         .st0{fill:#FFC21F;stroke:#2B2D7E;stroke-width:0.25;stroke-miterlimit:10;}
         .st1{fill:#231F20;stroke:#2B2D7E;stroke-width:0.25;stroke-miterlimit:10;}
         .st2{fill:#FCFCFC;}
         .st3{font-family:'MVBoli';}
         .st4{font-size:72px;}
         .st5{fill:#FCFCFC;}
       </style>
       <circle id="circle" class="st0" cx="154.11" cy="158.12" r="144.74"/>
       <path class="st1" d="M100.55,74.27c0,0,1.01-24.51,7.33-26.53c0,0,10.11,14.15,9.6,15.41l16.67-0.51c0,0,11.37-12.13,14.91-11.37
         c0,0-2.53,19.45-4.29,22.99c0,0,18.95,15.92-1.26,34.36c0,0,4.55,21.22,4.29,33.6c0,0,10.36,15.92,7.83,22.23
         c0,0,28.8,19.45,25.01,71.24c0,0-7.83,41.94-28.55,43.2c0,0-17.18,74.65-144.13,0c0,0,0.38-6.06,5.68-5.68
         c0,0,119.75,46.61,114.44-1.52c0,0-13.89,8.21-26.91,0.76c-4.67-2.68-61.39-68.97-14.4-123.92c0,0,0.38-33.35,1.89-35.24
         c1.52-1.89,3.25-12.13,5.79-11.37c0,0-1.41-20.08,0-23.49L100.55,74.27z"/>
       <g>
       </g>
       </svg>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-list navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbarDropdown2" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Pages</a>
              <ul class="dropdown-menu drop-menu menu-3" aria-labelledby="navbarDropdown2">
                <li class="drop-item"><a class="item--1" href="#">Prices</a></li>
                <li class="drop-item"><a class="item--2" href="#">Testimonial</a></li>
                <li class="drop-item"><a class="item--3" href="#">Our Stats</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>


<!-- Small Cat -->
<!-- 
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 278.53 250.11" style="enable-background:new 0 0 278.53 250.11;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#414042;stroke:#58595B;stroke-width:0.25;stroke-miterlimit:10;}
    .st1{fill:#414042;}
    .st2{fill:#FFFFFF;stroke:#58595B;stroke-width:0.25;stroke-miterlimit:10;}
  </style>

  <g id="up_hair">
    <polygon class="st0" points="104.12,54.28 117.22,72.77 120.76,50.3 	"/>
    <polygon class="st0" points="141.79,76.04 129.29,49.02 153.02,49.19 	"/>
    <polygon class="st0" points="167.54,72.77 181.4,55.34 161.55,50.3 	"/>
  </g>
  <g id="right_hair">
    <polygon class="st0" points="165.73,164.72 272.34,152.34 272.34,158.53 165.73,170.53 	"/>
    <polygon class="st0" points="162.69,176.34 272.34,176.34 272.34,170.53 165.73,171.79 	"/>
    <polygon class="st0" points="157.89,182.91 161.43,178.48 272.34,189.98 272.34,195.54 	"/>
  </g>
  <g id="left_hair">
    <polygon class="st0" points="117.22,163.96 117.22,169.52 11.12,157.89 11.12,152.34 	"/>
    <polygon class="st0" points="117.22,171.54 120.76,176.34 11.12,176.34 11.12,171.54 	"/>
    <polygon class="st0" points="122.53,178.48 126.57,184.42 11.12,195.54 11.12,190.23 	"/>
  </g>
  <path id="face" class="st0" d="M244.42,88.29c14.4-7.58,15.54-70.49,15.54-70.49c-34.48-1.14-80.72,24.63-80.72,24.63
    c-23.12-12.51-75.41-0.38-75.41-0.38C62.53,17.05,23.49,17.81,23.49,17.81c0.76,56.08,14.4,70.48,14.4,70.48
    c-34.87,60.96,2.65,104.97,2.65,104.97c45.09,56.84,101.43,47.75,101.43,47.75c55.2,3.03,87.28-31.83,87.28-31.83
    C289.14,146.65,244.42,88.29,244.42,88.29z M141.16,231.92c-58.91,0-106.67-40.81-106.67-91.14c0-50.34,47.76-91.14,106.67-91.14
    s106.67,40.81,106.67,91.14C247.83,191.11,200.07,231.92,141.16,231.92z"/>
  <path id="nose" class="st0" d="M127.33,162.57l28.04-0.63c0,0,14.02,4.8-8.97,22.48h-9.22
    C137.18,184.42,116.21,169.01,127.33,162.57z"/>
  <path id="sharp" class="st0" d="M169.64,193.39h6.06c0,0,0.25,13.01-17.31,14.91c0,0-9.75,1.64-16.56-10.23
    c0,0-15.65,23.75-34.22,0.13v-4.8h6.32c0,0-1.26,7.45,10.86,9.35c0,0,11.12-0.38,11.75-9.35h10.74c0,0,0.88,8.84,10.86,9.09
    C158.15,202.48,169.89,203.24,169.64,193.39z"/>
  <g id="right_eye">
    <path class="st0" d="M195.41,94.1c-15.39,0-27.87,12.48-27.87,27.87s12.48,27.87,27.87,27.87s27.87-12.48,27.87-27.87
      S210.8,94.1,195.41,94.1z M195.99,144.84c-12.31,0-22.29-9.98-22.29-22.29c0-12.31,9.98-22.29,22.29-22.29
      c12.31,0,22.29,9.98,22.29,22.29C218.28,134.86,208.3,144.84,195.99,144.84z"/>
    <path class="st1" d="M199.96,104.76c-10.25,0-18.56,7.96-18.56,17.79s8.31,17.79,18.56,17.79c10.25,0,18.56-7.96,18.56-17.79
      S210.21,104.76,199.96,104.76z M203.01,120.47c-3.92,0-7.1-3.18-7.1-7.1s3.18-7.1,7.1-7.1c3.92,0,7.1,3.18,7.1,7.1
      S206.94,120.47,203.01,120.47z"/>
  </g>
  <g id="left_eye">
    <path class="st0" d="M89.41,93.1c-15.39,0-27.87,12.48-27.87,27.87s12.48,27.87,27.87,27.87s27.87-12.48,27.87-27.87
      S104.8,93.1,89.41,93.1z M89.99,143.84c-12.31,0-22.29-9.98-22.29-22.29c0-12.31,9.98-22.29,22.29-22.29
      c12.31,0,22.29,9.98,22.29,22.29C112.28,133.86,102.3,143.84,89.99,143.84z"/>
    <path class="st1" d="M93.96,103.76c-10.25,0-18.56,7.96-18.56,17.79s8.31,17.79,18.56,17.79c10.25,0,18.56-7.96,18.56-17.79
      S104.21,103.76,93.96,103.76z M97.01,119.47c-3.92,0-7.1-3.18-7.1-7.1s3.18-7.1,7.1-7.1c3.92,0,7.1,3.18,7.1,7.1
      S100.94,119.47,97.01,119.47z"/>
  </g>
  <path id="right_ear" class="st2" d="M207.18,52.33c0,0,29.94-26.53,38.27-22.74c0,0,1.14,32.21-9.47,45.47L207.18,52.33z"/>
  <path id="left_ear" class="st2" d="M48.18,74.66c0,0-15.99-39.55-9.8-46.31c0,0,28.56,9.59,37.89,23.78L48.18,74.66z"/>
  </svg> -->
  

  <!-- Logo -->

  <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 388.8 316.8" style="enable-background:new 0 0 388.8 316.8;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFC21F;stroke:#2B2D7E;stroke-width:0.25;stroke-miterlimit:10;}
	.st1{fill:#231F20;stroke:#2B2D7E;stroke-width:0.25;stroke-miterlimit:10;}
	.st2{fill:#FCFCFC;}
	.st3{font-family:'MVBoli';}
	.st4{font-size:72px;}
	.st5{fill:#FFC21F;}
</style>
<circle id="circle" class="st0" cx="154.11" cy="158.12" r="144.74"/>
<path class="st1" d="M100.55,74.27c0,0,1.01-24.51,7.33-26.53c0,0,10.11,14.15,9.6,15.41l16.67-0.51c0,0,11.37-12.13,14.91-11.37
	c0,0-2.53,19.45-4.29,22.99c0,0,18.95,15.92-1.26,34.36c0,0,4.55,21.22,4.29,33.6c0,0,10.36,15.92,7.83,22.23
	c0,0,28.8,19.45,25.01,71.24c0,0-7.83,41.94-28.55,43.2c0,0-17.18,74.65-144.13,0c0,0,0.38-6.06,5.68-5.68
	c0,0,119.75,46.61,114.44-1.52c0,0-13.89,8.21-26.91,0.76c-4.67-2.68-61.39-68.97-14.4-123.92c0,0,0.38-33.35,1.89-35.24
	c1.52-1.89,3.25-12.13,5.79-11.37c0,0-1.41-20.08,0-23.49L100.55,74.27z"/>
<g>
	<text transform="matrix(0.887 0 0 1 210.2322 170.6425)"><tspan x="0" y="0" class="st2 st3 st4">me</tspan><tspan x="97.42" y="0" class="st5 st3 st4">ow</tspan></text>
</g>
</svg> -->
