// Importing My helpers files
@import './src/assets/scss/helpers/variables';
@import './src/assets/scss/helpers/mixins';


// Start Style
nav {
  .navbar-collapse {flex-grow: 0;}


  //  First Menu
  .navbar-nav {
    @include navbarStyle;
  }

  // The Second Navbar Style
  &.navbar-tall {
    padding: .5rem 1rem;
    @include flex-center;

    // The Container Div Which holds The Logo And Menu
    .main-nav {
      position: relative;
      @include flex-spaceBetween;
      flex-wrap: wrap;

      // Media For Medium and large screen
      @media (min-width: 992px) {
        display: block;
      }

      .navbar-toggler {float: right;}

      // Logo

      .logo {
        float: left;
        position: initial;
        top:0;
        left: 0;
        transform: none;

        // Media For Medium and large screen
        @media (min-width: 991px) {
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
        }
      }

      // Menu
      .navbar-nav {
        display: flex;
        justify-content: center;
        // align-items: center;
  
        // Media For Medium and large screen
        @media (min-width: 991px) {
          display:inline-block;
  
        }
      }
      .navbar-list {
        width: 100%;
        text-align: center;
        position: relative;
        @media (min-width: 991px) {
          text-align: right;
        }
        .nav-item {
          display: inline-block;
          float:none;
          // filter: opacity(0.5);
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            float:left;
          }
          @include navbarStyle;

          &:hover {
            background: url('../../../../assets/images/hover1.png') no-repeat center center;
            background-size: contain;
          }
          &.active {
            background: url('../../../../assets/images/hover1.png') no-repeat center center;
            background-size: contain;
          }
        }
      }
    }
  }
}




@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}


@keyframes itemBounce {
    0% {
        opacity:0;
        transform:scale(0.3) translateY(-60px);
    }
    80% {
        transform:scale(1.2) translateY(10px);
    }
    100% {
        opacity:1;
        transform:scale(1) translateY(0px);
    }
}


@keyframes bottomToTop {
    0% {
        opacity:0;
        transform:rotate(-30deg);
    }
    100% {
        opacity:1;
        transform:rotate(0deg);
    }
}