<nav class="navbar navbar-expand-lg text-light bg-orange">
  <div class="container flex-between">
    <a class="navbar-brand" href="#">MEAW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
      </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
          <ul class="dropdown-menu drop-menu menu-2" aria-labelledby="navbarDropdown1">
            <li class="drop-item"><a class="item--1" href="#">Prices</a></li>
            <li class="drop-item"><a class="item--2" href="#">Testimonial</a></li>
            <li class="drop-item"><a class="item--3" href="#">Our Stats</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Pages</a>
          <ul class="dropdown-menu drop-menu menu-3" aria-labelledby="navbarDropdown1">
            <li class="drop-item"><a class="item--1" href="#">Prices</a></li>
            <li class="drop-item"><a class="item--2" href="#">Testimonial</a></li>
            <li class="drop-item"><a class="item--3" href="#">Our Stats</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>