// Mixins


<<<<<<< HEAD
// items Space Between
=======
// items Space Between 
>>>>>>> 37b4572d34d75651acb6a4495c5598dae160365a

@mixin flex-spaceBetween {
    display:flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
}
// items Center

@mixin flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
=======
}
>>>>>>> 37b4572d34d75651acb6a4495c5598dae160365a
