$orangeColor: #F9BE4F;
$textBrownColor: #675444;
$whiteBackground: #f4f4f4;
$whiteText: #FFF;


/*Colors*/
$red: #ff3333;
$yellow: #ffcc33;
$aqua: #55dde0;
$lightPurple: #9966cc;
$tealBLue: #33658a;
$linear: linear-gradient(90deg, #3f4593, #5960bd);
